<header>
  <nav class="navbar navbar-expand-md navbar-light bg-warning;" style="background-color:rgb(116, 187, 141)">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>

    <% if (user) { %>
      <form class="form-inline" action="/logout" method="POST">
      <div class="nav-item" style="margin-right: 7px;">Logged in as <%= user.email %> 
          <button type="submit" class="btn btn-outline-primary" style= "padding: 0.2em; margin: 0.3em">Log Out</button>
          </form>
      </div>
      <% } else { %>

        <form class="form-inline" action="/login" method="GET">
          <button type="submit" class="btn btn-outline-dark" style= "padding: 0.2em; margin: 0.3em">Log In</button>
        </form>
        <form class="form-inline" action="/register" method="GET">
          <button type="submit" class="btn btn-outline-primary" style= "padding: 0.2em; margin: 0.3em">Register</button>
        </form>
        <% } %>
  </nav>
</header>